<h1>Player Roster</h1>
 <%= link_to 'New player', new_player_path %>

<table border="1 black solid">
  <tr>
    <th width="140px">Name</th>
    <th width="300px">Mains</th>
    <th colspan="3"></th>
  </tr>
 
  <% @players.each do |player| %>
    <tr>
      <td><%= player.name %></td>
      <td><%= player.mains %></td>
      <td><%= link_to 'Show', player_path(player) %></td>
      <td><%= link_to 'Edit', edit_player_path(player) %></td>
      <td><%= link_to 'Delete', player_path(player),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>