<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>
 
<p>
  <strong>Main Heros:</strong>
  <%= @player.mains %>
</p>

<h2>Comments</h2>
<%= render @player.comments %>

<h2>Player comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_player_path(@player) %> | 
<%= link_to 'Back', players_path %>